<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/myPage/myPage.css">-->
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_frame.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_content.css"/>
    <meta name="viewport" content="user-scalable=yes, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            // custid 받아오기
            var custid = sessionStorage.getItem("custid");

            if(custid != null){
                $("#login").css('display', 'none');
                $("#regist").css('display', 'none');
                $("#logout").css('display','inline-block');
                $("#mypage").css('display','inline-block');
            }

            $("#logout").click(function(e){
                if(confirm("로그아웃 하시겠습니까?")){
                    $("#login").css('display', 'inline-block');
                    $("#regist").css('display', 'inline-block');
                    $("#logout").css('display','none');
                    $("#mypage").css('display','none');
                    sessionStorage.removeItem("custid");
                    e.preventDefault();
                }
            })

            // 네비게이션 바에서 클릭하면 카테고리별 목록으로 넘어가도록
            var time = 1;

            var cate_current = "";
            var cate_future = "";
            var cate_past = "";

            for (var i = 1; i <=4; i++) {
                cate_current = '#cate'+i+"_current";
                cate_future = '#cate'+i+"_future";
                cate_past = '#cate'+i+"_past";

                $(cate_current).click(function(e){
                    var target = this.id;
                    var cateid_num = $("#"+target).attr("cateid");
                    var time_num = $("#"+target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "/category?time="+time+"?cateid="+cateid;
                    location.replace(url);
                });

                $(cate_future).click(function(e){
                    var target = this.id;
                    var cateid_num = $("#"+target).attr("cateid");
                    var time_num = $("#"+target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "/category?time="+time+"?cateid="+cateid;
                    location.replace(url);
                });

                $(cate_past).click(function(e){
                    var target = this.id;
                    var cateid_num = $("#"+target).attr("cateid");
                    var time_num = $("#"+target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "/category?time="+time+"?cateid="+cateid;
                    location.replace(url);
                });
            }

            // 검색하면 결과가 나오도록
            var searchKeyword = function(f){
                $("#search_txt").keydown(function(e){ // 엔터 누르면 검색되도록 (아직 구현 X)
                    if(e.which == 13){
                        var keyword = $("#search_txt").val();
                        sessionStorage.setItem("keyword", keyword);
                        var url = "/search?keyword="+keyword;
                        location.replace(url);
                    }
                });

                $("#search_btn").click(function(){ // 버튼 누르면 검색됨
                    var keyword = $("#search_txt").val();
                    sessionStorage.setItem("keyword", keyword);
                    var url = "/search?keyword="+keyword;
                    location.replace(url);
                });
            }// 검색 end

            searchKeyword();
            $("#logout").click(function(){
                sessionStorage.removeItem("custid");
            });

        })

    </script>
</head>
<body class="main_layout">
<a href="/main"><img src="/images/icon/logo.png" id="logo"></a>
<div class="main_user">
    <a href="/notice/list" id="center"><img src="/images/icon/center.png">고객센터</a>
    <a href="/login" id="login"><img src="/images/icon/loginicon.png">로그인</a>
    <a href="/main" id="logout"><img src="/images/icon/logouticon.png">로그아웃</a>
    <a href="/signUp" id="regist"><img src="/images/icon/signupicon.png">회원가입</a>
    <a href="/myPage" id="mypage"><img src="/images/icon/mypageicon.png">마이페이지</a>
</div>
<nav id="navigation">
    <div class="search" id="search" name="search">
        <input class="search_txt" type="search" placeholder="검색어 입력..." id="search_txt">
        <a class="search_btn" type="button" id="search_btn"><img  src="/images/icon/searchicon.png" width="35" height="35"></a>
    </div>
    <ul>
        <li class="home"><a href="/main">홈</a></li>
        <li><a href="#">시사회</a>
            <ul>
                <li><a id="cate1_current" cateid="1" time="1">현재상영작</a></li>
                <li><a id="cate1_future" cateid="1" time="2">개봉예정작</a></li>
                <li><a id="cate1_past" cateid="1" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">뮤지컬</a>
            <ul>
                <li><a id="cate2_current" cateid="2" time="1">현재상영작</a></li>
                <li><a id="cate2_future" cateid="2" time="2">개봉예정작</a></li>
                <li><a id="cate2_past" cateid="2" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">연극</a>
            <ul>
                <li><a id="cate3_current" cateid="3" time="1">현재상영작</a></li>
                <li><a id="cate3_future" cateid="3" time="2">개봉예정작</a></li>
                <li><a id="cate3_past" cateid="3" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">콘서트</a>
            <ul>
                <li><a id="cate4_current" cateid="4" time="1">현재상영작</a></li>
                <li><a id="cate4_future" cateid="4" time="2">개봉예정작</a></li>
                <li><a id="cate4_past" cateid="4" time="0">과거상영작</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="menu-bar">
    <ul>
        <li id="title">MyPage</li>
        <li><a href="/myPage">내 정보</a></li>
        <li id="mybook"><a href="/myPageBook">예매내역</a></li>
        <li><a href="/myPageDraw">드로우내역</a></li>
        <li><a href="/myPageReview">내 후기</a></li>
        <li><a href="/myPageQnA">내 문의내역</a></li>
    </ul>
</div>

<div id="review_background">
    <div id="btnWrite_Qna">
        <a th:href="@{/qna/insert}">문의 작성</a>
    </div>
    <table border="1" class="myPageQna_table">
        <tr>
            <th>글번호</th>
            <th>분류</th>
            <th>제목</th>
            <th>조회수</th>
            <th>등록일</th>
        </tr>
        <th:block th:if="${#lists.size(listQna)}==0">
            <tr><td colspan="5">게시글이 없습니다.</td></tr>
        </th:block>
        <th:block th:unless="${#lists.size(listQna)}==0">
            <tr th:each="q:${listQna}">
                <td th:text="${q.qna_no}"></td>
                <td th:text="${q.qna_category}"></td>
                <td>
                    <a th:href="@{'/qna/detail/'+${q.qna_no}}" th:text="${q.qna_title}"></a>
                    <th:block th:if="${q.qna_open}=='n'">
                        <span>🔒</span>
                    </th:block>
                    <th:block th:if="${q.qna_answer}!=null">
                        <span>✔️️</span>
                    </th:block>
                </td>
                <td th:text="${q.qna_hit}"></td>
                <td th:text="${#dates.format(q.qna_date, 'yyyy/MM/dd HH:mm')}"></td>
            </tr>
        </th:block>
    </table>
    <div class="qna_mypage">
        <div id="paging_qna">
            <a th:text="처음" th:href="@{'/myPageQnA?page=1'}"></a>
            <th:block th:if="${paging.getStartPage() > 1}">
                <a th:text="이전" th:href="@{'/myPageQnA?page='+${paging.getStartPage()-1}}"></a>
            </th:block>
            <th:block th:each="page : ${#numbers.sequence(paging.getStartPage(),paging.getEndPage())}">
                <a th:text="${page}" th:href="@{'/myPageQnA?page='+${page}}"></a>
            </th:block>
            <th:block th:if="${paging.getEndPage() < paging.getTotalPage()}">
                <a th:text="다음" th:href="@{'/myPageQnA?page='+${paging.getEndPage()+ 1}}"></a>
            </th:block>
            <a th:text="끝" th:href="@{'/myPageQnA?page='+${paging.totalPage}}"></a>
        </div>
    </div>
</div>
<div id="main-footer">
    <footer class="footer">
        <div>ⓒ CodingDoit corp.
        </div>
    </footer>
</div>
</body>
</html>