<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_content.css">
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_frame.css">
    <meta name="viewport" content="user-scalable=yes, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript">
        $(function() {

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var confirm_phone = false;

            if (custid != null) {
                $("#login").css('display', 'none');
                $("#regist").css('display', 'none');
                $("#logout").css('display', 'inline-block');
                $("#mypage").css('display', 'inline-block');
            }

            $("#logout").click(function (e) {
                if (confirm("로그아웃 하시겠습니까?")) {
                } else {
                    return false;
                }
            });
            //수정된 내용 db에 반영하는 이벤트


            // 네비게이션 바에서 클릭하면 카테고리별 목록으로 넘어가도록
            var time = 1;

            var cate_current = "";
            var cate_future = "";
            var cate_past = "";

            for (var i = 1; i <= 4; i++) {
                cate_current = '#cate' + i + "_current";
                cate_future = '#cate' + i + "_future";
                cate_past = '#cate' + i + "_past";

                $(cate_current).click(function (e) {
                    var target = this.id;
                    var cateid_num = $("#" + target).attr("cateid");
                    var time_num = $("#" + target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "categoryPage.html?time=" + time + "?cateid=" + cateid;
                    location.replace(url);
                });

                $(cate_future).click(function (e) {
                    var target = this.id;
                    var cateid_num = $("#" + target).attr("cateid");
                    var time_num = $("#" + target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "categoryPage.html?time=" + time + "?cateid=" + cateid;
                    location.replace(url);
                });

                $(cate_past).click(function (e) {
                    var target = this.id;
                    var cateid_num = $("#" + target).attr("cateid");
                    var time_num = $("#" + target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "categoryPage.html?time=" + time + "?cateid=" + cateid;
                    location.replace(url);
                });
            }

            // 검색하면 결과가 나오도록
            var searchKeyword = function (f) {
                $("#search_txt").keydown(function (e) { // 엔터 누르면 검색되도록 (아직 구현 X)
                    if (e.which == 13) {
                        var keyword = $("#search_txt").val();
                        sessionStorage.setItem("keyword", keyword);
                        var url = "searchPage.html?keyword=" + keyword;
                        location.replace(url);
                    }
                });

                $("#search_btn").click(function () { // 버튼 누르면 검색됨
                    var keyword = $("#search_txt").val();
                    sessionStorage.setItem("keyword", keyword);
                    var url = "searchPage.html?keyword=" + keyword;
                    location.replace(url);
                });
            }// 검색 end

            searchKeyword();
        })
    </script>
</head>
<body class="mypage_layout">
<a href="mainTest.jsp"><img src="./image/logo.png" id="logo"></a>
<div class="main_user">
    <a href="mainTest.jsp" id="logout"><img src="./image/logouticon.png">로그아웃</a>
    <a href="mypage_Info.html"><img src="./image/mypageicon.png">마이페이지</a>
</div>
<nav id="navigation">
    <form action="" method="post" class="search">
        <input class="search_txt" type="search" placeholder="검색어 입력...">
        <a class="search_btn" href="example.html"><img  src="./image/searchicon.png" width="35" height="35"></a>
    </form>
    <ul>
        <li class="home"><a href="mainTest.jsp">홈</a></li>
        <li><a href="#">시사회</a></li>
        <li><a href="#">뮤지컬</a></li>
        <li><a href="#">연극</a></li>
        <li><a href="#">콘서트</a></li>
    </ul>
</nav>
<div id="menu-bar">
    <ul>
        <li id="title">MyPage</li>
        <li><a href="mypage_Info.html">내 정보</a></li>
        <li><a href="mypage_Book.html">예매내역</a></li>
        <li id="mydraw"><a href="mypage_Draw.html">드로우내역</a></li>
        <li><a href="mypage_Review.html">내 후기</a></li>
    </ul>
</div>
<form action="" method="post" id="form">
    <div class="drawlist">
        <img src="/images/movie_Okja.jpg" width="200" height="252">
        <ul th:each="d:${list}">
            <li>드로우번호 :<span th:text ="${d.drawid}"/> </li>
            <li>제목 : <span th:text="${d.ticket_name}"/></li>
            <li>관람일 : <span th:text="${d.ticket_date}"/></li>
            <li>상영관 : <span th:text="${d.loc}"/></li>
            <li>관람좌석 : <span th:text="${d.seatname}"/></li>
        </ul>
        <button>결과확인</button>
        <input type="checkbox" id="check2">
        <label for="check2"></label>
    </div>
<div id="main-footer">
    <footer>
        <div>Footer</div>
    </footer>
</div>
</body>
</html>