<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" th:src="@{/js/admin/notice/update.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_frame.css"/>
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_content.css"/>
</head>
<body class="main_layout">
<img src="/images/icon/logo.png" id="logo">
<div class="main_user">
  <a href="/notice/list" id="center"><img src="/images/icon/center.png">고객센터</a>
  <a href="loginTest.html" id="login"><img src="/images/icon/loginicon.png">로그인</a>
  <a href="/main" id="logout"><img src="/images/icon/logouticon.png">로그아웃</a>
  <a href="signupTest.html" id="regist"><img src="/images/icon/signupicon.png">회원가입</a>
  <a href="mypage_Info.html" id="mypage"><img src="/images/icon/mypageicon.png">마이페이지</a>
</div>
<nav id="navigation">
  <div class="search" id="search" name="search">
    <input class="search_txt" type="search" placeholder="검색어 입력..." id="search_txt">
    <a class="search_btn" type="button" id="search_btn"><img src="/images/icon/searchicon.png" width="35" height="35"></a>
  </div>
  <ul>
    <li class="home"><a href="/main">홈</a></li>
    <li><a href="#">시사회</a>
      <ul>
        <li><a id="cate1_current" cateid="1" time="1">현재상영작</a></li>
        <li><a id="cate1_future" cateid="1" time="2">개봉예정작</a></li>
        <li><a id="cate1_past" cateid="1" time="0">과거상영작</a></li>
      </ul>
    </li>
    <li><a href="#">뮤지컬</a>
      <ul>
        <li><a id="cate2_current" cateid="2" time="1">현재상영작</a></li>
        <li><a id="cate2_future" cateid="2" time="2">개봉예정작</a></li>
        <li><a id="cate2_past" cateid="2" time="0">과거상영작</a></li>
      </ul>
    </li>
    <li><a href="#">연극</a>
      <ul>
        <li><a id="cate3_current" cateid="3" time="1">현재상영작</a></li>
        <li><a id="cate3_future" cateid="3" time="2">개봉예정작</a></li>
        <li><a id="cate3_past" cateid="3" time="0">과거상영작</a></li>
      </ul>
    </li>
    <li><a href="#">콘서트</a>
      <ul>
        <li><a id="cate4_current" cateid="4" time="1">현재상영작</a></li>
        <li><a id="cate4_future" cateid="4" time="2">개봉예정작</a></li>
        <li><a id="cate4_past" cateid="4" time="0">과거상영작</a></li>
      </ul>
    </li>
    <a id="chat-channel-button" href="javascript:chatChannel()"><img src="/images/icon/consult_small_yellow_pc.png"/></a>
  </ul>
</nav>
<div id="background_detail">
  <h2>공지사항 수정</h2>
  <hr>
  <div id="content_detail">
  <div hidden="hidden" id="notice_category" th:text="${n.notice_category}"></div>
  <form action="/admin/notice/update" method="post" enctype="multipart/form-data">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="hidden" th:name="notice_no" th:value="${n.notice_no}">
    <input type="hidden" name="notice_fname" th:value="${n.notice_fname}">

    <span class="title_insert">분류&nbsp;&nbsp;&nbsp;</span>
    <select name="notice_category" id="select_category" class="insert_select">
      <option value="예매/드로우">예매/드로우</option>
      <option value="결제/환불">결제/환불</option>
      <option value="기타">기타</option>
    </select><br>
    <br>
    <span class="title_insert">제목&nbsp;&nbsp;&nbsp;<input th:name="notice_title" th:value="${n.notice_title}" id="insert_title"></span><br>
    <br>
    <span class="title_insert">내용&nbsp;&nbsp;&nbsp;<br>
    <textarea name="notice_content" placeholder="내용" th:text="${n.notice_content}" rows="5" cols="30" class="textarea_insert"></textarea></span><br>
    <br>
    <span class="title_insert">첨부파일&nbsp;&nbsp;&nbsp;<input type="file" name="uploadFile"></span><br>
    <input type="submit" value="등록" id="insert_submit">
  </form>
  </div>
</div>
<div id="main-footer">
  <footer class="footer">
    <div>ⓒ CodingDoit corp.
    </div>
  </footer>
</div>
</body>
</html>