<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">
  <select id="findAll" resultType="customerVO">
    select * from customer
  </select>
  <update id="updateCustomer" parameterType="customerVO">
    update customer set cateid=#{cateid}, pwd=#{pwd}, name=#{name}, birth=#{birth},
    phone=#{phone}, email=#{email}, addr=#{addr}, gender=#{gender}, role=#{role}
    where custid=#{custid}
  </update>
</mapper>