<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="draw">
  <select id="findAll" resultType="drawVO">
    select * from draw
  </select>

  <!-- 드로우 신청 -->
  <insert id="insertDraw" parameterType="drawVO">
    insert into draw(drawid,custid,ticketid,seatid) values(seq_drawid.nextval,#{custid},#{ticketid},#{seatid})
  </insert>

  <!-- 시사회: 티켓id 별로 드로우 신청하면 그중에서 custid 랜덤하게 자리배정 -->

  <!-- 자리0: 티켓 id 별로 드로우 신청하면 취소표(leftseat=0)에 한해서 랜덤하게 자리 배정 -->

  <select id="drawTest" resultType="drawVO">
    select * from draw where ticketid = #{ticketid}
  </select>

  <update id="updateDraw">
    update draw set seatid = #{seatid} where custid = #{custid}
  </update>

  <update id="drawDeleteSeatId">
    update draw set seatid = null where ticketid = #{ticektid}
  </update>

>>>>>>>>> Temporary merge branch 2
</mapper>