<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="draw">
  <select id="findAll" resultType="drawVO">
    select * from draw
  </select>

  <select id="drawTest" resultType="drawVO">
    select * from draw where ticketid = #{ticketid}
  </select>
</mapper>