<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seat">
  <select id="findAll" resultType="seatVO">
    select * from seat
  </select>

  <!-- 잔여좌석 출력-->
  <select id="selectLeftSeat" resultType="int">
    select count(*) from seat where ticketid=#{ticketid} and check_seat='n'
  </select>

</mapper>
