<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">
  <select id="findAll" resultType="ticketVO">
    select * from ticket
  </select>

  <select id="findByTicketid" resultType="ticketVO">
    select * from ticket where ticketid=#{ticketid}
  </select>

  <!--main.html에서 카테고리, 시간 별로 상영작 출력하는 mapper sql 코드-->
  <select id="findAllTicketByCategory" resultType="ticketVO">
    select * from ticket where cateid=#{cateid} and
    <if test="time==0">
      ticket_date &lt; to_char(sysdate, 'yyyy/mm/dd')
    </if>
    <if test="time==1">
      ticket_date &gt; to_char(sysdate, 'yyyy/mm/dd') and ticket_date &lt;= to_char(sysdate+14, 'yyyy/mm/dd')
    </if>
    <if test="time==2">
      ticket_date &gt; to_char(sysdate+14, 'yyyy/mm/dd')
    </if>
  </select>

  <!--keyword' 를 매개변수로 ticket 리스트 검색 결과를 출력하기-->
  <select id="findSearchTicket" resultType="ticketVO">
    select * from ticket where ticket_name like '%'||#{keyword}||'%' or cast like '%'||#{keyword}||'%'
  </select>

</mapper>