/* 초기화하기 */
*{
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
div,table{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
}
/* Background */
.main{
    position : relative;
    padding : 20px 10px;
    background-color : #08348C;
    border-radius : 10px 0 0 10px;
    top : 65px;
    right : 61px;
}
.main img{
    position : relative;
    top : 13px;
}



/* 로그인화면 */
#background_login{
    width : 500px;
    height : 520px;
    background-color : #f5f5f5;
    border : 1px solid #dcdcdc;
    border-radius : 10px 10px 10px 10px;
    box-shadow : 10px 10px #dedede;
}
#logo{
    width: 370px;
    height: 110px;
    margin-bottom : 330px;
}
h2{
    text-align : center;
    color : #08348C;
    margin-top : -330px;
}
.user{
    font-weight: 500;
    position: relative;
    padding : 5px;
    margin : 10px;
    border : 2px solid #08348C;
    width : 250px;
    height : 30px;
    padding-left : 10px;
}
.user [type="text"]{
    margin-left : 24px;
    margin-top : 4px;
    border : none;
    background-color : #f5f5f5;
}
.user [type="password"]{
    margin-left : 15px;
    margin-top : 6px;
    border : none;
    background-color : #f5f5f5;
}
div ul{
    position: relative;
}
div ul li{
    position: relative;
    color : #a9a9a9;
}
ul li #custid,ul li #pwd{
    font-size : 15px;
    position: relative;
    width : 200px;
    height : 30px;
    padding-left : 10px;
    border: none;
    background-color:rgba(255, 255, 255, 0);
}
ul li #custid{
    left : 15px;
}
ul li #pwd{
    left : 6px;
}
#btn_login{
    font-size : 16px;
    width : 270px;
    height : 45px;
    background-color : #08348C;
    color : white;
    border : none;
    margin-left: 50px;
    margin-bottom : 130px;
    border-radius : 5px 5px 5px 5px;
}
#btn_login:hover{
    background-color : #F2AE30;
    color : #08348C;
    transition-duration: 0.5s;
}
.caption{
    width : 350px;
    margin-top : 140px;
    margin-left : -25px;
    text-decoration: none;
}
.caption a{
    font-size : 14px;
    margin : -15px;
    color : #08348C;
}

/* 회원가입화면 */
#background_signup{
    width : 500px;
    height : 750px;
    background-color : #f5f5f5;
    border : 1px solid #dcdcdc;
    border : none;
    border-radius : 10px 10px 10px 10px;
    box-shadow : 10px 10px #dedede;
}
table{
    display: inline-block;
    padding-bottom : 30px;
}
td{
    font-size : 15px;
    font-weight : 600;
    color : #08348C;
    padding : 4px;
}
#title_signup h2{
    font-size : 22px;
    margin-top : -350px;
}
.birth_info{
    position : relative;
}
.box{
    font-size : 14px;
    height : 25px;
    margin : 5px;
    border : 1.5px solid #08348C;
}
.cbox{
    font-size : 14px;
    height : 30px;
    border : 1.5px solid #08348C;
}
.info{
    line-height : 0;
    font-size : 11px;
    font-weight : 600;
    color : #D10505;
}
#addr_address,#addr_detail,#addr_extra{
    margin-top : 4px;
}
option{
    font-size : 14px;
}
button{
    width : 100px;  height : 32px;
    font-size : 12px;
    font-weight : 500;
    background-color : #08348C;
    border : none;
    color : white;
    margin-left : 10px;
    border-radius : 5px 5px 5px 5px;
}
[type="radio"]{
    width : 16px;  height : 16px;
    margin-right : 15px;
    vertical-align: -3px;
}
.td1{
    font-weight : 500;
}
#btn_cancel{
    color : #091140;
    background-color : #dcdcdc;
    width : 100px;
    height : 32px;
    left : -150px;
}
#btn_join{
    color : white;
    background-color : #08348C;
    width : 100px;
    height : 32px;
    left : -15px;

}
.signup_caption button{
    position : absolute;
    font-weight : 600;
    margin-left : 50px;
    margin-top : 320px;
}
#btn_idconfirm,#btn_phoneconfirm,#btn_addrconfirm,[type="button"]{
    color : #dcdcdc;
    background-color : #08348C;
    width : 80px;
    height : 31px;
    border-radius : 5px;
    border : none;
    font-size : 12px;
}
#btn_searchAddr{
    width : 100px;
}



/* 비밀번호 찾기화면 */
h2{
    text-align : center;
    color : #08348C;
    font-size : 20px;
}
/*
.user{
    font-weight: 500;
    position: relative;
    padding : 5px;
    margin : 10px;
    border : 2px solid #08348C;
    width : 250px;
    height :	30px;
    padding-left : 10px;
}
 */
div ul{
    position: relative;
}
div ul li{
    position: relative;
    color : #a9a9a9;
}
ul li #id,ul li #phone{
    font-size : 15px;
    position: relative;
    width : 200px; height : 30px;
    padding-left : 10px;
    border: none;
    background-color:rgba(255, 255, 255, 0);
}
ul li #id{
    width : 160px;
    margin-top : -1px;
    left : 20px;
}
ul li #phone{
    width : 160px;
    margin-top : 0;
    left : 18px;
}
#btn_login{
    font-size : 16px;
    width : 270px;
    height : 45px;
    background-color : #08348C;
    color : white;
    border : none;
    margin-left: 50px;
    margin-bottom : 130px;
    border-radius : 5px 5px 5px 5px;
}
#btn_login:hover{
    background-color : #F2AE30;
    color : #08348C;
    transition-duration: 0.5s;
}
.caption{
    width : 350px;
    margin-top : 140px;
    text-decoration: none;
}
.caption a{
    font-size : 14px;
    margin-left : 70px;
    color : #08348C;
}
span{
    margin-left : 40px;
    color : #D10505;
}


/* 좌석 */
#background{
    width : 600px;  height : 450px;
    background-color : white;
    border : 2px solid gray;
    border-radius : 10px 10px 10px 10px;
}
#screen{
    position : relative;
    left : 290px; top : 50px;
    margin : 10px;
    width : 500px; height: 40px;
    line-height : 40px;
    text-align : center;
    background-color : #08348C;
    color : #F2AE30;
    border-radius : 5px;
}
button{
    margin-top : 50px;
    width : 35px;  height : 35px;
    margin : 5px;
    border-radius : 10px 10px 10px 10px;
    border : none;
    background-color : #08348C;
    color : white;
}
/* 좌석 선택 */
.seat_status{
    position : absolute;
    width : 100px;
    font-size : 13px;
    margin-top : 155px;
    margin-left : 230px;
    border : 2px solid gray;
    border-radius : 10px;
}
.seat_status p{
    margin-left : 33px;
}
.seat_status>#possible{
    background-color : #08348C;
    width : 12px;
    height : 12px;
    margin-left : -30px;
    margin-top : -30px;
}
.seat_status>#check{
    background-color : #F2AE30;
    width : 12px;
    height : 12px;
    margin-left : -30px;
}
.seat_status>#soldout{
    background-color : #dcdcdc;
    width : 12px;
    height : 12px;
    margin-left : -30px;
    margin-top : 31px;
}
/* 마우스 효과 */
button.hover:hover:not(.x){
    background-color : #F2AE30;
}
button.active:not(.x){
    background-color : #F2AE30;
    color : #08348C;
    font-weight : 700;
}
.x{
    background-color : #dcdcdc;
    color : gray;
}
#insertBtn{
    width : 100px; height : 35px;
    position : absolute;
    margin-top : 320px;
    margin-left : 250px;
}