<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원목록</h1>
<table border="1" width="th" >
    <thead>
    <tr>
        <th>티켓아이디</th>
        <th>카테고리아이디</th>
        <th>장소</th>
        <th>티켓이름</th>
        <th>가격</th>
        <th>상영날짜</th>
    </tr>
    </thead>
    <tbody th:each="d:${list}">
    <tr>
        <td th:text="${d.ticketid}"></td>
        <td th:text="${d.cateid}"></td>
        <td th:text="${d.placeid}"></td>
        <td th:text="${d.ticket_name}"></td>
        <td th:text="${d.price}"></td>
        <td th:text="${d.ticket_date}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>