<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<h2>로그인</h2>
<a href="/join">회원가입</a><br>
<form action="/login_submit" method="post">소
    아이디 : <input type="text" name="id"><br>
    암호 : <input type="password" name="pwd"><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <input type="submit" value="로그인">
    <input type="reset" value="취">
</form>
</body>
</html>