<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--       csrf token 전송을 위한 _csrf.token, _csrf.headerName 설정-->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" href="/css/ticket/login,signup_form.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/signUp_address.js}"></script>
    <script>
        $(function() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var confirm_phone = false;
            var confirm_custid = false;
            var authentication = false;
            $("#form_signup").submit(function (e) { // form이 제출 (회원가입 기능)

                var url = "signUp";

                var custid = $("#custid").val();
                var pwd = $("#pwd").val();
                var name = $("#name").val();
                var birth = $("#birth").val();
                var phone = $("#phone").val();
                var email = $("#email").val() + $("#email_com").val();
                var addr_postcode = $("#addr_postcode").val();
                var addr_address = $("#addr_address").val();
                var addr_detail = $("#addr_detail").val();
                var addr_extra = $("#addr_extra").val();
                var gender = $("input:radio[name=gender]:checked").val();
                var cateid = $("input:radio[name=cateid]:checked").val();


                // phone하고 email 부분 텍스트 입력 칸이 나누어져 있어서 그걸 합치느라
                // serialize를 하지 않고 phone, email 객체를 따로 만들어 합쳐 data 전송을 했습니다.

                var data = {
                    custid: custid,
                    pwd: pwd,
                    name: name,
                    email: email,
                    birth: birth,
                    phone: phone,
                    gender: gender,
                    addr_postcode: addr_postcode,
                    addr_address: addr_address,
                    addr_detail: addr_detail,
                    addr_extra: addr_extra,
                    cateid: cateid
                };

                if (checkIdPwd(custid, pwd) == false) { // 아이디, 비번 적합성을 통과하지 못하면 false를 반환하여 함수를 즉시 종료
                    return false;
                }

                if (confirmPwd() == false) { // pwd와 pwd_confirm이 불일치하면 false를 반환하여 함수를 즉시 종료
                    return false;
                }

                if (confirm_custid == false) {
                    alert("아이디 중복 확인되지 않았습니다.")
                    return false;
                }

                if (confirm_phone == false){
                    alert("전화번호 중복이 확인되지 않았습니다.")
                }

                if (authentication == false) {
                    alert("전화번호 인증을 확인해주세요.")
                    return false;
                }

                $("#form_updateCustomer").submit(function (e) {	//수정된 회원정보를 form이 제출
                    if (confirm_phone == false) {
                        alert("전화번호 중복 확인이 되지 않았습니다.")
                        return false;
                    }
                })


                console.log("confirmPwd " + confirmPwd());
                console.log(data)

                $.ajax({
                    url,
                    type: 'POST',
                    data: data,
                    beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    success: function () {
                        $(location).attr("href", "/login");
                    }
                }); // Ajax 통신 시작
                e.preventDefault();

            }); // 회원가입 end

            var checkIdPwd = function (custid, pwd) {
                var check_Flag = true;

                var reg_id = /^(?=.*?[a-z])(?=.*?[0-9]).{6,12}$/; // 아이디를 영문하고 숫자 필수 입력
                var reg_pwd = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$/; // 비번을 대소문자 영어, 숫자, 특수문자까지 필수 입력

                if (!reg_id.test(custid)) {
                    alert("아이디는 6-12자 영문, 숫자로만 입력하세요");
                    check_Flag = false;
                }

                if (!reg_pwd.test(pwd)) {
                    alert("비밀번호는 대소문자를 포함한 영어, 숫자, 특수문자를 6글자 이상 입력하세요");
                    check_Flag = false;
                }

                return check_Flag;
            } // check 아이디 비밀번호 적합성 end

            $(document).ready(function () { // 아이디 비밀번호 영어, 숫자로만
                $("#custid").keyup(function () {
                    $(this).val($(this).val().replace(/[^a-z0-9]/g, ""));
                });
                $("#pwd").keyup(function () {
                    $(this).val($(this).val().replace(/[^A-Za-z0-9#?!@$%^&*-]/g, ""));
                });
            });
            var confirmPwd = function () { // pwd와 pwd_confirm이 일치하면 true, 불일치하면 false를 반환하도록 하는 메소드
                var confirm_Flag = true;

                if ($("#pwd").val() != $("#pwd_confirm").val()) {
                    alert("비밀번호가 일치하지 않습니다");
                    confirm_Flag = false;
                }

                return confirm_Flag;

            }; // confirm 패스워드 end


            $(document).on('click', '#btn_idconfirm', function () { // 아이디 중복검사
                var custid = $("#custid").val();
                var url = "ConfirmCustomerId";
                var data = {custid: custid};

                $.ajax(url, {
                    data: data,
                    success: function (answer) {

                        console.log(answer);

                        if (answer == 1) {
                            alert("중복된 아이디입니다");
                            confirm_custid = false;
                        } else {
                            alert("사용가능한 아이디입니다");
                            confirm_custid = true;
                        }
                    }
                });
            }); // 아이디 중복 end


            $(document).on('click', '#btn_phoneconfirm', function () { // 전화번호 중복
                var phone = $("#phone").val();
                var url = "ConfirmCustomerPhone";
                var data = {phone:phone};
                $.ajax(url, {
                    data:data,
                    success: function (answer) {
                        if (answer == 1) {
                            alert("중복된 번호입니다");
                            confirm_phone = false;
                        } else {
                            alert("사용가능한 번호입니다");
                            confirm_phone = true;
                        }
                    }
                });
            }); // 전화번호 중복 end

            $(document).on('click', '#btn_sendPhoneCode', function () { // 인증번호 전송
                var phone = $("#phone").val();
                console.log(phone);
                var url = "sendMessage";
                var data = {phone:phone};
                $.ajax(url, {
                    data:data,
                    success: function (answer) {
                    }
                });
            }); // 인증번호 전송

            $(document).on('click', '#btn_phoneCode', function () { // 인증번호 확인
                var phoneCode = $("#phoneCode").val();
                console.log(phoneCode);
                var url = "CustomerPhoneAuthentication";
                var data = {phoneCode:phoneCode};
                $.ajax(url, {
                    data:data,
                    success: function (answer) {
                        if (answer == 1) {
                            alert("인증번호 불일치");
                            authentication = false;
                        } else {
                            alert("인증번호 확인완료.");
                            authentication = true;
                        }
                    }
                });
            }); // 전화번호 중복 end
        })// $(function)
    </script>
</head>
<body>
<div id="background_signup">
    <a class="main" href="main">
        <img  src="images/icon/homeicon.png" width="40" height="40"></a>
</div>
<form id="form_signup" >
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div>
        <h2>SignUp</h2>
    </div>
    <table>
        <tr>
            <td>아이디</td>
            <td><input type="text" name="custid" class="box" id="custid" >
                <input type="button" id="btn_idconfirm" value="중복확인"></td>
        </tr>
        <tr>
            <td colspan="2" class="info">* 6자~12자의 소문자 영문,숫자로만 입력</td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="pwd" class="box" id="pwd" ></td>
        </tr>
        <tr>
            <td colspan="2" class="info">* 최소 6자 이상 소대문자 영문, 숫자, 특수문자로 입력</td>
        </tr>
        <tr>
            <td>비밀번호 확인</td>
            <td><input type="password" class="box" id="pwd_confirm" name="pwd_confirm"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name" class="box" size="10" id="name"></td>
        </tr>
        <tr>
            <td>이메일주소</td>
            <td>
                <input type="text" name="email" size="10" class="box" id="email">&nbsp;@&nbsp;
                <select name="email_com" class="box" id="email_com">
                    <option value="@gmail.com">gmail.com</option>
                    <option value="@naver.com">naver.com</option>
                    <option value="@hanmail.net">hanmail.net</option>
                    <option value="@kakao.com">kakao.com</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td><input type="text" name="birth" class="box" id="birth"></td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>
                <input type ="text" id ="phone" name="phone" maxlength="11" size = "12" class="box">
                <!--                <input type="text" name="phone1" id="phone1" maxlength="3" size="4" class="box"> - -->
                <!--                <input type="text" name="phone2"  id="phone2" maxlength="4" size="4" class="box"> - -->
                <!--                <input type="text" name="phone3" id="phone3" maxlength="4" size="4" class="box">-->
                <input type="button" id="btn_phoneconfirm" value="중복확인">
            </td>
        </tr>
        <tr>
            <td>전화번호 인증</td>
            <td>
                <input type ="text" id ="phoneCode" name="phoneCode" maxlength="6" size = "6" class="box">
                <input type="button" id="btn_sendPhoneCode" value="인증번호 보내기">
                <input type="button" id="btn_phoneCode" value="인증번호 확인">
            </td>
        </tr>
        <tr>
            <td>주소</td>
            <td>
                <input type="text" name="addr_postcode" id="addr_postcode" class="box">
                <input type="button" id="btn_searchAddr" value="우편번호 찾기" onclick="execDaumPostcode()"><br>
                <input id="addr_address" class="box" size="30"><br>
                <input id="addr_detail" class="box">
                <input id="addr_extra" class="box">
            </td>
        </tr>
        <tr>
            <td>성별</td>
            <td class="td1">
                남성<input type="radio" id="male" name="gender" value="남자">&nbsp;&nbsp;&nbsp;&nbsp;
                여성<input type="radio" name="gender" value="여자">
            </td>
        </tr>
        <tr>
            <td>관심사</td>
            <td class="td1">
                시사회<input type="radio" name="cateid" value="1">
                뮤지컬<input type="radio" name="cateid" value="2">
                연극<input type="radio" name="cateid" value="3">
                콘서트<input type="radio" name="cateid" value="4">
            </td>
        </tr>
    </table>
    <div class="signup_caption">
        <button id="btn_cancel">취소</button>&nbsp;&nbsp;
        <button id="btn_join" type="submit">가입하기</button>
    </div>
</form>
</body>
</html>