<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/ticket/login,signup_form.css" >
<script>
  $(function(){

    var pwd;
    var send_code;

    $("#byPhone").css("display","none")   //전화번호 입력창
    $("#byEmail").css("display","none")   //이메일 입력창
    $("#code_validation_pwd").css("display","none")
    $("#form_updatePwdbyPhone").css("display","none")

    //개인정보 인증 수단 선택 (전화번호 또는 이메일)
    $('.radio-value').on('click', function() {
      var valueCheck = $('.radio-value:checked').val(); // 체크된 Radio 버튼의 값을 가져옵니다.

      if ( valueCheck == 'phone' ) {
        $("#byPhone").css("display","inline")
        $("#byEmail").css("display","none")
      } else {
        $("#byPhone").css("display","none")
        $("#byEmail").css("display","inline")
      }
    });

    $("#btn_checkByPhone").click(function(e){ //전화번호로 개인정보 확인
      var url = "checkByPhone";
      var custid = $("#custid").val();
      var phone = $("#phone").val();

      console.log("아이디"+custid)
      console.log("전화"+phone)

      $.ajax({
        url:url,
        data:{custid:custid, phone:phone},
        success:function(c){
          console.log("ok")
          console.log(c.pwd)
          pwd = c.pwd;
          if(pwd==undefined){
            $("#printPwdbyPhone").html("정보를 잘못 입력하셨습니다. 다시 입력해주세요.");
          }else{
            $("#printPwdbyPhone").html("");
            $("#code_validation_pwd").css("display","block")

            //전화번호 인증 확인
            var authentication = false;
            if (authentication == false) {
              alert("전화번호 인증을 확인해주세요.")
              return false;
            }

          }
        }
      });
      e.preventDefault();

    }); //전화번호로 개인정보 확인(form_checkByPhone)이 제출되었을 때

    $("#btn_sendPhoneCode").click(function(){ //인증번호 전송
      var phone = $("#phone").val();
      console.log("전화번호:"+phone);
      var url = "sendMessage";
      var data = {phone:phone};
      $.ajax(url, {
        data:data,
        success: function (answer) {
        }
      });
    }); //인증번호 전송 end

    $(document).on('click', '#btn_phoneCode', function () { // 인증번호 확인
      var phoneCode = $("#phoneCode").val();
      console.log(phoneCode);
      var url = "CustomerPhoneAuthentication";
      var data = {phoneCode:phoneCode};
      $.ajax(url, {
        data:data,
        success: function (answer) {
          if (answer == 1) {
            alert("인증번호를 다시 확인해주세요.");
            authentication = false;
          } else {
            alert("인증이 완료되었습니다.");
            authentication = true;
            $("#form_updatePwdbyPhone").css("display","block")
          }
        }
      });
    }); // 인증번호 확인 end

    $("#btn_updatePwd").click(function(e){  //전화번호로 비밀번호 재설정
      var url = "updatePwdbyPhone";
      var custid = $("#custid").val();
      var phone = $("#phone").val();
      var pwd = $("#pwd").val();

      data = {custid:custid, phone:phone, pwd:pwd}

      if (checkPwd(pwd) == false) { //비번 적합성을 통과하지 못하면 false를 반환하여 함수를 즉시 종료
        return false;
      }

      if (confirmPwd() == false) {  // pwd와 pwd_confirm이 불일치하면 false를 반환하여 함수를 즉시 종료
        return false;
      }

      $.ajax({
        url:url,
        data:data,
        success:function(){
          location.href="/login"
        }
      });
    });

    var checkPwd = function (pwd) { //비밀번호 적합성
      var check_Flag = true;

      var reg_pwd = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{6,}$/; // 비번을 대소문자 영어, 숫자, 특수문자까지 필수 입력

      if (!reg_pwd.test(pwd)) {
        alert("비밀번호는 대소문자를 포함한 영어, 숫자, 특수문자를 6글자 이상 입력하세요");
        check_Flag = false;
      }

      return check_Flag;
    } //비밀번호 적합성 end

    var confirmPwd = function () {  //pwd와 pwd_confirm이 일치하면 true, 불일치하면 false를 반환하도록 하는 메소드
      var confirm_Flag = true;

      if ($("#pwd").val() != $("#pwd_confirm").val()) {
        alert("비밀번호가 일치하지 않습니다");
        confirm_Flag = false;
      }

      return confirm_Flag;

    };  //전화번호로 비번 재설정시 일치 end




    $("#code_validation2").css("display","none")
    $("#form_updatePwdbyEmail").css("display","none")

    $("#btn_checkByEmail").click(function(e){ //전화번호로 개인정보 확인
      var url = "checkByEmail";
      var custid = $("#custid2").val();
      var email = $("#email").val();

      // console.log("아이디"+custid)
      // console.log("이메일"+email)

      $.ajax({
        url:url,
        data:{custid:custid, email:email},
        success:function(c){
          // console.log("ok")
          // console.log(c.pwd)
          pwd = c.pwd;
          if(pwd==undefined){
            $("#printPwdbyEmail").html("정보를 잘못 입력하셨습니다. 다시 입력해주세요.");
          }else{
            $("#printPwdbyEmail").html("");
            $("#code_validation2").css("display","block")

            //전화번호 인증 확인
            var authentication = false;
            if (authentication == false) {
              alert("이메일 인증을 확인해주세요.")
              return false;
            }

          }
        }
      });
      e.preventDefault();

    }); //이메일로 개인정보 확인(form_checkByEmail)이 제출되었을 때

    $("#btn_sendEmailCode").click(function(){ //인증번호 전송
      var email = $("#email").val();
      // console.log("이메일:"+email);
      var url = "sendEmailCode";
      var data = {email:email};
      $.ajax(url, {
        data:data,
        success: function (answer) {
          // console.log(answer)
          send_code = answer;
        }
      });
    }); //인증번호 전송 end

    $("#btn_emailCode").click(function(){
      var user_code = $("#emailCode").val();
      if(send_code==user_code){
        alert("인증번호 확인완료.");
        authentication = true;
        $("#form_updatePwdbyEmail").css("display","block")
      }else{
        alert("인증번호 불일치");
        authentication = false;
      }
    })

    $("#btn_updatePwd2").click(function(e){  //이메일로 비밀번호 재설정
      console.log("비밀번호 재설정")
      var url = "updatePwdbyEmail"
      var custid = $("#custid2").val()
      var email = $("#email").val()
      var pwd = $("#pwd2").val()

      var data = {custid:custid, email:email, pwd:pwd}

        if (checkPwd(pwd) == false) { //비번 적합성을 통과하지 못하면 false를 반환하여 함수를 즉시 종료
            return false;
        }

        if (confirmPwd2() == false) {  // pwd와 pwd_confirm이 불일치하면 false를 반환하여 함수를 즉시 종료
            return false;
        }

      $.ajax({
        url:url,
        data:data,
        success:function(){
          console.log("비밀번호 재설정함!")
          location.href="/login"
        }
      })

    });

    var confirmPwd2 = function () {  //pwd와 pwd_confirm이 일치하면 true, 불일치하면 false를 반환하도록 하는 메소드
      var confirm_Flag = true;

      if ($("#pwd2").val() != $("#pwd_confirm2").val()) {
        alert("비밀번호가 일치하지 않습니다");
        confirm_Flag = false;
      }

      return confirm_Flag;

    };  //이메일로 비번 재설정시 일치 end


  }) // 전체 $(function)

</script>
<body>
<div id="background_login">
  <a class="main" href="/main">
    <img  src="/images/icon/homeicon.png" width="40" height="40"></a>
</div>
<div id="form_pwd">
  <img src="/images/icon/logo.png" id="logo">
  <h2>비밀번호 재설정</h2>
  <span><input type="radio" class="radio-value" name="findPwd" value="phone">전화번호로 재설정</span>
  <span><input type="radio" class="radio-value" name="findPwd" value="email">이메일로 재설정</span>

<!-- 전화번호로 비밀번호 재설정 -->
<div id="byPhone">    <!-- 전화번호 radio -->
  <form id="form_checkByPhone">    <!-- 아이디와 전화번호 입력 form -->
    <table>
      <tr>
        <td>아이디</td>
        <td><input type="text" name="custid" class="box" size="10" id="custid"></td>
      </tr>
      <tr>
        <td>전화번호</td>
        <td>
          <input type ="text" id ="phone" name="phone" maxlength="11" size = "12" class="box">
        </td>
      </tr>
    </table>
    <input type="submit" id="btn_checkByPhone" value="개인정보 확인" name="btn_checkByPhone"><br>
  </form>    <!-- 아이디와 전화번호 입력 form end -->

  <table id="code_validation_pwd">
    <tr>
      <td>전화번호 인증</td>
      <td>
        <input type ="text" id ="phoneCode" name="phoneCode" maxlength="6" size = "6" class="box">
        <input type="button" id="btn_sendPhoneCode" value="문자전송">
        <input type="button" id="btn_phoneCode" value="인증확인">
      </td>
    </tr>
  </table>
  <div><b id="printPwdbyPhone"></b></div>

  <div id="form_updatePwdbyPhone">
    <table>
      <tr>
        <td>비밀번호</td>
        <td><input type="password" name="pwd" class="box" id="pwd" ></td>
      </tr>
      <tr>
        <td colspan="2" class="info">* 최소 6자 이상 소대문자 영문, 숫자, 특수문자로 입력</td>
      </tr>
      <tr>
        <td>비밀번호 확인</td>
        <td><input type="password" class="box" id="pwd_confirm" name="pwd_confirm"></td>
      </tr>
    </table>
    <div>
      <button id="btn_updatePwd">비밀번호 재설정</button>
    </div>
  </div>
</div>


<!-- 이메일로 비밀번호 재설정 -->
<div id="byEmail">    <!-- 이메일 radio -->
    <form id="form_checkByEmail">    <!-- 아이디와 이메일 입력 form -->
      <table>
        <tr>
          <td>아이디</td>
          <td><input type="text" name="custid" class="box" size="10" id="custid2"></td>
        </tr>
        <tr>
          <td>이메일</td>
          <td>
            <input type ="text" id ="email" name="email" maxlength="30" size = "20" class="box">
          </td>
        </tr>
      </table>
      <input type="submit" id="btn_checkByEmail" value="개인정보 확인" name="btn_checkByEmail"><br>
    </form>    <!-- 아이디와 이메일 입력 form end -->

    <table id="code_validation2">
      <tr>
        <td>이메일 인증</td>
        <td>
          <input type ="text" id ="emailCode" name="emailCode" maxlength="6" size = "6" class="box">
          <input type="button" id="btn_sendEmailCode" value="이메일전송">
          <input type="button" id="btn_emailCode" value="인증확인">
        </td>
      </tr>
    </table>
    <div><b id="printPwdbyEmail"></b></div>

    <div id="form_updatePwdbyEmail">
      <table>
        <tr>
          <td>비밀번호</td>
          <td><input type="password" name="pwd" class="box" id="pwd2" ></td>
        </tr>
        <tr>
          <td colspan="2" class="info">* 최소 6자 이상 소대문자 영문, 숫자, 특수문자로 입력</td>
        </tr>
        <tr>
          <td>비밀번호 확인</td>
          <td><input type="password" class="box" id="pwd_confirm2" name="pwd_confirm"></td>
        </tr>
      </table>
      <div>
        <button id="btn_updatePwd2">비밀번호 재설정</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>