<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:text="${q.qna_no}"></div>
  <div th:text="${q.customer.name}"></div>
  <div th:text="${q.customer.custid}"></div>
  <div th:text="${q.qna_category}"></div>
  <div th:text="${q.qna_title}"></div>
  <div th:text="${q.qna_content}"></div>
  <div th:text="${q.qna_hit}"></div>
  <div th:text="${q.qna_date}"></div>
  <div th:text="${q.qna_fname}"></div>
  <div th:text="${q.qna_open}"></div>
  <div th:text="${q.qna_answer}"></div>
  <div th:text="${q.ticket.ticketid}"></div>
  <div th:text="${q.ticket.ticket_name}"></div>
</body>
</html>