<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/qna/insert" method="post" enctype="multipart/form-data">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <input type="hidden" name="custid" th:value="${session.id}">
  작성자 아이디: <div th:text="${session.id}"></div><br>
  <select name="qna_category" required>
    <option>예매/드로우</option>
    <option>결제/환불</option>
    <option>기타</option>
  </select>
  <br>
  <input name="qna_title" placeholder="제목" required><br>
  <textarea name="qna_content" placeholder="내용" cols="70" rows="10" required></textarea><br>
  <input type="file" name="uploadFile"><br>
  <input type="radio" id="y" name="qna_open" value="y" required>
  <label for="y">공개</label>
  <input type="radio" id="n" name="qna_open" value="n">
  <label for="n">비공개</label><br>
  <select name="ticketid" required>
    <option value="0">해당 없음</option>
    <option th:each="ticketVO:${ticketVOList}"
            th:text="|[${ticketVO.ticket_date}]${ticketVO.ticket_name}(${ticketVO.loc})|"
            th:value="${ticketVO.ticketid}"></option>
  </select><br>
  <input type="submit" value="등록">
</form>
</body>
</html>