<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/ticket/homepage_content.css"/>
    <title>Title</title>
</head>
<body>
<div id="admin_background">
    <h2>Q&A내역</h2>
    <hr id="admin_hr">
    <table class="admin_table">
    <tr>
        <th>글번호</th>
        <th>분류</th>
        <th>제목</th>
        <th>조회수</th>
        <th>등록일</th>
        <th>공개여부</th>
        <th>답변</th>
    </tr>
    <tr th:each="q:${listQna}">
        <td th:text="${q.qna_no}"></td>
        <td th:text="${q.qna_category}"></td>
        <td>
            <a th:href="@{'/qna/detail/'+${q.qna_no}}" th:text="${q.qna_title}"></a>
        </td>
        <td th:text="${q.qna_hit}"></td>
        <td th:text="${#dates.format(q.qna_date, 'yyyy/MM/dd')}"></td>
        <td th:text="${q.qna_open}"></td>
        <div>
            <td th:if="${q.qna_answer != null}">Y</td>
            <td th:unless="${q.qna_answer != null}">N</td>
        </div>
    </tr>
</table>
<br><br>
    <div id="paging_adminqna">
        <a th:text="처음" th:href="@{'/admin/listQnaByCustid?page=1'}"></a>
        <th:block th:if="${paging.getStartPage() > 1}">
            <a th:text="이전" th:href="@{'/admin/listQnaByCustid?page='+${paging.getStartPage()-1}}"></a>
        </th:block>
        <th:block th:each="page : ${#numbers.sequence(paging.getStartPage(),paging.getEndPage())}">
            <a th:text="${page}" th:href="@{'/admin/listQnaByCustid?page='+${page}}"></a>
        </th:block>
        <th:block th:if="${paging.getEndPage() < paging.getTotalPage()}">
            <a th:text="다음" th:href="@{'/admin/listQnaByCustid?page='+${paging.getEndPage()+ 1}}"></a>
        </th:block>
        <a th:text="끝" th:href="@{'/admin/listQnaByCustid?page='+${paging.totalPage}}"></a>
    </div>
</div>
</body>
</html>