<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>고객 리스트</h2>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <td>custid</td>
                <td>name</td>
                <td>birth</td>
                <td>phone</td>
                <td>gender</td>
                <td>예매내역 조회</td>
                <td>qna 내역 조회</td>
                <td>삭제</td>
            </tr>
        </thead>
        <!--role이 admin이 아닌 customer만 출력하기-->
        <tbody th:each="c : ${customerList}">
            <tr th:if="${c.role} != 'admin'">
                <td>
                <a th:text="${c.custid}" th:href="@{'/admin/updateCustomer/'+${c.custid}}"></a>
                </td>
                <td th:text="${c.name}"></td>
                <td th:text="${c.birth}"></td>
                <td th:text="${c.phone}"></td>
                <td th:text="${c.gender}"></td>
                <td>예매내역
                    <a th:href="@{'/admin/listTicketByCustid/'+${c.custid}}">예매내역 보기</a>
                </td>
                <td >
                    <a th:href="@{'/admin/listQnaByCustid/'+${c.custid}}">qna 내역보기</a>
                </td>
                <td>
                    <a th:text="삭제하기" th:href="@{'/admin/deleteCustomer/'+${c.custid}}"></a>
                </td>
            </tr>
        </tbody>
    </table>
<br><br>
    <a th:text="처음" th:href="@{'/admin/listCustomer?page=1&keyword='+${keyword}}"></a>
    <th:block th:if="${paging.getStartPage() > 1}">
        <a th:text="이전" th:href="@{'/admin/listCustomer?page='+${paging.getStartPage()-1}+'&keyword='+${keyword}}"></a>
    </th:block>
    <th:block th:each="page : ${#numbers.sequence(paging.getStartPage(),paging.getEndPage())}">
        <a th:text="${page}" th:href="@{'/admin/listCustomer?page='+${page}+'&keyword='+${keyword}}"></a>
    </th:block>
    <th:block th:if="${paging.getEndPage() < paging.getTotalPage()}">
        <a th:text="다음" th:href="@{'/admin/listCustomer?page='+${paging.getEndPage()+ 1}+'&keyword='+${keyword}}"></a>
    </th:block>
    <a th:text="끝" th:href="@{'/admin/listCustomer?page='+${paging.totalPage}+'&keyword='+${keyword}}"></a>
    <!-- 검색 기능-->
    <div>
        <form name="search-form" th:action="@{/admin/listCustomer}" method="get">
            <input type="text" name="keyword" value="">
            <input type="submit" value="검색">
        </form>
    </div>
</body>
</html>