<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>관리자 페이지</h2>
    <br><hr>
    <h3>티켓 리스트</h3>
  <table border="1">
   <thead>
    <tr>
      <td>ticketid</td>
      <td>ticket_name</td>
      <td>cateid</td>
      <td>placeid</td>
      <td>ticket_date</td>
        <td>삭제</td>
    </tr>
   </thead>
   <tbody>
    <tr th:each="t : ${list}" id="ticket">
        <td th:text="${t.ticketid}"></td>
        <td>
            <a th:text="${t.ticket_name}" th:href="@{'/admin/updateTicket/'+${t.ticketid}}"></a>
        </td>
        <td th:text="${t.cateid}"></td>
        <td th:text="${t.placeid}"></td>
        <td th:text="${t.ticket_date}"></td>
        <td>
            <a th:href="@{'/admin/deleteTicket/'+${t.ticketid}}">삭제하기</a>
        </td>
    </tr>
   </tbody>
  </table>
    <br><br>
    <a href="/admin/insertTicket">추가하기</a>
<br><br>
    <!--페이징 처리-->
    <a th:text="처음" th:href="@{'/admin/listTicket?page=1&keyword='+${keyword}}"></a>
    <th:block th:if="${paging.getStartPage() > 1}">
        <a th:text="이전" th:href="@{'/admin/listTicket?page='+${paging.getStartPage()-1}+'&keyword='+${keyword}}"></a>
    </th:block>
<th:block th:each="page : ${#numbers.sequence(paging.getStartPage(),paging.getEndPage())}">
    <a th:text="${page}" th:href="@{'/admin/listTicket?page='+${page}+'&keyword='+${keyword}}"></a>
</th:block>
    <th:block th:if="${paging.getEndPage() < paging.getTotalPage()}">
        <a th:text="다음" th:href="@{'/admin/listTicket?page='+${paging.getEndPage()+ 1}+'&keyword='+${keyword}}"></a>
    </th:block>
    <a th:text="끝" th:href="@{'/admin/listTicket?page='+${paging.totalPage}+'&keyword='+${keyword}}"></a>

    <!-- 검색 기능-->
    <div>
        <form name="search-form" th:action="@{/admin/listTicket}" method="get">
            <input type="text" name="keyword" value="">
            <input type="submit" value="검색">
        </form>
    </div>
</body>
</html>