<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/js/jquery-ui-1.13.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/ticket/detail.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.13.1.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4cce9cc8666a0ddc40cb3ff5eee6295b"></script>
    <script type="text/javascript">

        // 상세페이지
        $(function(){

            var custid = sessionStorage.getItem("custid");
            var ticketid = sessionStorage.getItem("ticketid");

            if(custid != null){
                $("#login").css('display', 'none');
                $("#regist").css('display', 'none');
                $("#logout").css('display','inline-block');
                $("#mypage").css('display','inline-block');
            }

            $("#logout").click(function(e){
                if(confirm("로그아웃 하시겠습니까?")){
                    $("#login").css('display', 'inline-block');
                    $("#regist").css('display', 'inline-block');
                    $("#logout").css('display','none');
                    $("#mypage").css('display','none');
                    sessionStorage.removeItem("custid");
                    e.preventDefault();
                }
            })
            $( "#datepicker" ).datepicker();

            $.ajax({
                url: "DetailTicket",
                data: {ticketid: ticketid},
                success: function(data){
                    var cateid=data['cateid'];
                    var img_fname = data['img_fname'];
                    var ticket_name = data['ticket_name'];
                    var ticket_date = data['ticket_date'];
                    var loc = data['loc'];
                    var min_age = data['min_age'];
                    var runtime = data['runtime'];
                    var price = data['price'];
                    var vid_url = data['vid_url'];
                    var cast = data['cast'];
                    var content = data['content'];
                    var lat = data['lat'];
                    var lng = data['lng'];

                    //console.log(img_fname);
                    if(vid_url == null || vid_url == "") {
                        $("#vid_url").css('display', 'none');
                    }
                    $("#ticket_name").append(ticket_name);
                    $("#ticket_date").append(ticket_date);
                    $("#loc").append(loc);
                    if (min_age==0){
                        $("#min_age").append("전체관람가");
                    }else{
                        $("#min_age").append(min_age+"세 이상");
                    }

                    $("#runtime").append(runtime+"분");
                    if(price==0){
                        $("#price").append("0원(전석 초대)");
                    }else{
                        $("#price").append(price);
                    }
                    $("#cast").append(cast);
                    $("#content").append(content);

                    var img = $("<img>").attr({
                        src: "images/"+img_fname,
                        width : 340,
                        height: 450
                    });
                    $("#img_fname").append(img);


                    if(vid_url != null){
                        var vid = $("<iframe>").attr({
                            src: vid_url,
                            width : 900,
                            height: 500
                        });

                        $("#vid_url").append(vid);
                    }

                    // if(sessionStorage.getItem("ticketid") ==19){
                    //     var img1 = $("<img>").attr({
                    //         src: "images/ART_INFO.jpg",
                    //         width : 700,
                    //         height: 6000
                    //     });
                    //     console.log(img1);
                    //     $("#art_img").append(img1);
                    // }

                    if(cateid==1){
                        $("#btnbook").attr("disabled",true).css({
                            "border":"1px solid #cccccc",
                            "background-color":"#cccccc",
                            "display":"none"
                        }); //시사회는 예매하기 안 보이게

                        //대신 드로우버튼 보이게
                        $.ajax({
                            url: "DrawButtonOpen",
                            data: {ticketid: sessionStorage.getItem("ticketid")},
                            success: function(data){
                                var close = new Date(data['ticket_date']);
                                var open = new Date(close);
                                open.setDate(close.getDate()-14);
                                var today = new Date();
                                console.log("close:"+close);
                                console.log("today:"+today);

                                if(open <= today && today < close){
                                    console.log("OK");
                                    $("#btndraw").css({
                                        "border":"1px solid #ff7f00",
                                        "background-color":"#ff7f00",
                                        "display":"inline"
                                    });
                                    $(document).on("click","#btndraw",function(){
                                        console.log("btndraw 클릭");
                                        var url = "/draw";
                                        location.replace(url);
                                    });
                                }

                            }
                        });
                    }


                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
                    var map = new kakao.maps.Map(mapContainer, mapOption);

                    // 마커가 표시될 위치입니다
                    var markerPosition  = new kakao.maps.LatLng(lat, lng);

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map);
                }
            });

            /*
            //매진되거나 전석 추첨인 시사회 카테고리일 때 드로우 버튼 활성화. 미완성
            $.ajax({
                url: "DrawButtonOpen",
                data: {ticketid: sessionStorage.getItem("ticketid")},
                success: function(data){
                    var closeDate = new Date(data['ticket_date']);
                    var today = new Date();
                    console.log("close:"+closeDate);
                    console.log("today:"+today);
                    if(today < closeDate){
                        console.log("OK");
                        $("#btnbook").attr("disabled").css({
                            "border":"1px solid #cccccc",
                            "background-color":"#cccccc"
                        });
                        $(document).on("click","#btnbook",function(){
                            //location.href="detailPageTest.html";
                            console.log("btnbook 클릭");
                            var url = "detail";
                            location.replace(url);
                        });
                    }
                }
            });
            */

            //오픈일이 되면 예매 버튼 활성화
            $.ajax({
                url: "BookButtonOpen",
                data: {ticketid: sessionStorage.getItem("ticketid")},
                success: function(data){
                    console.log("t.t"+data);
                    var close = new Date(data['ticket_date']);
                    var open = new Date(close);
                    open.setDate(close.getDate()-14);
                    var today = new Date();
                    console.log("open:"+open);
                    console.log("today:"+today);

                    if(open <= today && today< close){
                        $("#btnbook").removeAttr("disabled").css({
                            "border":"1px solid #D10505",
                            "background-color":"#D10505"
                        });
                        $(document).on("click","#btnbook",function(){
                            //location.href="detailPageTest.html";
                            console.log("btnbook 클릭");
                            var url = "/regist";
                            location.replace(url);
                        });
                    }
                }
            });

            //남은 좌석수 반환
            $.ajax({
                url:"LeftSeat",
                data: {ticketid: sessionStorage.getItem("ticketid")},
                success: function(data){
                    var num = data;
                    console.log("잔여좌석:"+num);
                    $("#seat").append(num);

                    if(num ==0){
                        //매진되거나 전석 추첨인 시사회 카테고리일 때 드로우 버튼 활성화.
                        //드로우 버튼 활성화

                        $("#btnbook").attr("disabled",true).css({
                            "border":"1px solid #cccccc",
                            "background-color":"#cccccc",
                            "display":"none"
                        });

                        $.ajax({
                            url: "DrawButtonOpen",
                            data: {ticketid: sessionStorage.getItem("ticketid")},
                            success: function(data){
                                var close = new Date(data['ticket_date']);
                                var open = new Date(close);
                                open.setDate(close.getDate()-14);
                                var today = new Date();
                                console.log("DrawButtonOpen 성공");
                                console.log("close:"+close);
                                console.log("open:"+open);
                                console.log("today:"+today);

                                if(open <= today && today < close){
                                    console.log("OK");
                                    $("#btndraw").removeAttr("disabled").css({
                                        "border":"1px solid #ff7f00",
                                        "background-color":"#ff7f00",
                                        "display":"inline"
                                    });
                                    $(document).on("click","#btndraw",function(){
                                        console.log("btndraw 클릭");
                                        var url = "/draw";
                                        location.replace(url);
                                    });
                                }

                            }
                        });
                    }
                }
            });

            //서버시간 가져오기
            setInterval(function(){
                $.ajax({
                    url:"ServerTime",
                    success: function(data){
                        $("#localtime").empty();
                        $("#localtime").append(data);
                    }
                });
            }, 1000);

            //성별별로 예약자 수 구하기 - 통계는 항상 뜨고 후기가 있으면 그 밑에 후기가 추가되는 css 만들기
            $.ajax({
                url:"CountGender",
                data: {ticketid: sessionStorage.getItem("ticketid")},
                success: function(data){

                    //성별 통계부분 css 넣기!!
                    $(".gender").empty();
                    $.each(data,function(a,b){
                        console.log("gender:"+b.gender);
                        console.log("cnt:"+b.cnt);

                        if(b.gender == '여자'){
                            var li1 = $("<li></li>").attr({
                                id: 'woman'
                            });
                            $(li1).html("여자: "+b.cnt+"명");
                        }
                        if(b.gender == '남자'){
                            var li2 = $("<li></li>").attr({
                                id: 'man'
                            });
                            $(li2).html("남자: "+b.cnt+"명");
                        }

                        $(".gender").append(li1,li2);
                    });
                }
            });

            //세대별로 예약자수 구하기 - 성별 통계 옆에 세대통계 css 넣기!!
            $.ajax({
                url: "CountGeneration",
                data: {ticketid: sessionStorage.getItem("ticketid")},
                success: function(arr){
                    $(".generation").empty();
                    $.each(arr, function(index,item){
                        console.log("generation:"+item.generation);
                        console.log("cnt:"+item.num);
                        // 세대별 통계 css 넣는곳!!
                        var li = $("<li></li>").html(item.generation+"대: "+item.num+"명");
                        $(".generation").append(li);
                    });
                }
            });

            //특정 티켓의 리뷰 출력,정렬
            $.ajax({
                url:"CheckReview",
                data:{ticketid:ticketid},
                success:function(data){
                    if (data.length != 0) {
                        var re=0;
                        $(document).ready(function(){
                            $("#reviewOrder").on('change',function() {
                                if (this.value !== "") {
                                    var optVal = $(this).find(":selected").val();
                                    console.log("선택된 옵션: " + optVal);
                                    if (optVal == "평점 높은순") {
                                        var re = 1;
                                        console.log("re: " + re);
                                    } else {
                                        var re = -1;
                                        console.log("re: " + re);
                                    }
                                }
                                console.log(re);
                                console.log("리뷰있나체크:" + data);
                                $.ajax({
                                    url: "ReviewByTicketid",
                                    data: {
                                        ticketid: sessionStorage.getItem("ticketid"),
                                        re: re
                                    },
                                    success: function (data) {
                                        console.log("리뷰속의 정보" + data);
                                        $("#review_list").empty();
                                        $.each(data, function (index, item) {

                                            var score = item.score;
                                            var custid = item.custid;

                                            console.log(score);

                                            var div = $("<div></div>").addClass("review_list");
                                            $(div).append($("<div></div>").html("별점: " + score));
                                            $(div).append($("<div></div>").html("아이디: " + custid));

                                            var review_content = $("<textarea></textarea>").attr({
                                                type: "text",
                                                id: 'review_text',
                                                rows: 3,
                                                cols: 60,
                                                disabled: "disabled"
                                            });

                                            $(review_content).append(item.review_content);
                                            $(div).append(review_content);

                                            $("#review_list").append(div);

                                        });
                                    }
                                });

                                //평균별점 구하기
                                $.ajax({
                                    url: "AvgScore",
                                    data: {ticketid: sessionStorage.getItem("ticketid")},
                                    success: function (data) {
                                        $("#score_num").empty();
                                        if (data == 0) {
                                            $("#ulavgScore").append("아직 작성된 후기가 없습니다.");
                                            $("#avgScore").hide();
                                            $("#reviewOrder").hide();
                                        } else {
                                            $("#score_num").append(data);
                                        }
                                    }
                                });
                            })
                        });
                    } else {
                        //후기가 없으면 후기틀 자체가 없어지는 css 넣기!!
                        $("#reviewOrder").css('display','none');
                    }
                }
            })

            // 네비게이션 바에서 클릭하면 카테고리별 목록으로 넘어가도록
            var time = 1;

            var cate_current = "";
            var cate_future = "";
            var cate_past = "";

            for (var i = 1; i <=4; i++) {
                cate_current = '#cate'+i+"_current";
                cate_future = '#cate'+i+"_future";
                cate_past = '#cate'+i+"_past";

                $(cate_current).click(function(e){
                    var target = this.id;
                    var cateid_num = $("#"+target).attr("cateid");
                    var time_num = $("#"+target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "category?time="+time+"?cateid="+cateid;
                    location.replace(url);
                });

                $(cate_future).click(function(e){
                    var target = this.id;
                    var cateid_num = $("#"+target).attr("cateid");
                    var time_num = $("#"+target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "category?time="+time+"?cateid="+cateid;
                    location.replace(url);
                });

                $(cate_past).click(function(e){
                    var target = this.id;
                    var cateid_num = $("#"+target).attr("cateid");
                    var time_num = $("#"+target).attr("time");

                    time = time_num;
                    cateid = cateid_num;
                    console.log(cateid);

                    sessionStorage.setItem("time", time);
                    sessionStorage.setItem("cateid", cateid);

                    var url = "category?time="+time+"?cateid="+cateid;
                    location.replace(url);
                });
            }

            // 검색하면 결과가 나오도록
            var searchKeyword = function(f){
                $("#search_txt").keydown(function(e){ // 엔터 누르면 검색되도록 (아직 구현 X)
                    if(e.which == 13){
                        var keyword = $("#search_txt").val();
                        sessionStorage.setItem("keyword", keyword);
                        var url = "search?keyword="+keyword;
                        location.replace(url);
                    }
                });

                $("#search_btn").click(function(){ // 버튼 누르면 검색됨
                    var keyword = $("#search_txt").val();
                    sessionStorage.setItem("keyword", keyword);
                    var url = "search?keyword="+keyword;
                    location.replace(url);
                });
            }// 검색 end

            searchKeyword();

            // 로그인한 정보 불러오기

            // var custid = sessionStorage.getItem("custid");
            // var custid = $("#sessionId").val();
            console.log(custid);

            if(custid != "none"){
                $("#login").css('display', 'none');
                $("#regist").css('display', 'none');
                $("#logout").css('display','inline-block');
                $("#mypage").css('display','inline-block');
            }

            $("#logout").click(function(e){
                if(confirm("로그아웃 하시겠습니까?")){
                    sessionStorage.removeItem("custid");
                    custid = "none";
                }else{
                    return false;
                }
            })

        })
    </script>
</head>
<body class="main_layout">
<a href="/main"><img src="images/icon/logo.png" id="logo"></a>
<div class="main_user">
    <a href="/login" id="login"><img src="images/icon/loginicon.png">로그인</a>
    <a href="/logout" id="logout"><img src="images/icon/logouticon.png">로그아웃</a>
    <a href="/signUp" id="regist"><img src="images/icon/signupicon.png">회원가입</a>
    <a href="/myPage" id="mypage"><img src="images/icon/mypageicon.png">마이페이지</a>
</div>
<nav id="navigation">
    <div class="search" id="search" name="search">
        <input class="search_txt" type="search" placeholder="검색어 입력..." id="search_txt">
        <a class="search_btn" type="button" id="search_btn"><img  src="images/icon/searchicon.png" width="35" height="35"></a>
    </div>
    <ul>
        <li class="home"><a href="/main">홈</a></li>
        <li><a href="#">시사회</a>
            <ul>
                <li><a id="cate1_current" cateid="1" time="1">현재상영작</a></li>
                <li><a id="cate1_future" cateid="1" time="2">개봉예정작</a></li>
                <li><a id="cate1_past" cateid="1" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">뮤지컬</a>
            <ul>
                <li><a id="cate2_current" cateid="2" time="1">현재상영작</a></li>
                <li><a id="cate2_future" cateid="2" time="2">개봉예정작</a></li>
                <li><a id="cate2_past" cateid="2" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">연극</a>
            <ul>
                <li><a id="cate3_current" cateid="3" time="1">현재상영작</a></li>
                <li><a id="cate3_future" cateid="3" time="2">개봉예정작</a></li>
                <li><a id="cate3_past" cateid="3" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">콘서트</a>
            <ul>
                <li><a id="cate4_current" cateid="4" time="1">현재상영작</a></li>
                <li><a id="cate4_future" cateid="4" time="2">개봉예정작</a></li>
                <li><a id="cate4_past" cateid="4" time="0">과거상영작</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- 상세 페이지 -->
<!-- 티켓 인스턴스 정보 ul - li 작성 -->
<hr>
<div id="ticket_info">
    <div id="img_fname"></div>
    <h2 id="ticket_name"></h2>
    <hr id="line">
    <ul>
        <li id="ticket_date">관람일 : </li>
        <li id="loc">장소 : </li>
        <li id="min_age">관람등급 : </li>
        <li id="runtime">관람시간 : </li>
        <li id="price">가격 : </li>
    </ul>
</div>
<hr>
<!-- 예매하기 -->
<form action="" id="bookform">
    <!-- 날짜 선택창 (달력) -->
    <div id="datepicker"></div>
    <div id="bookbox">
        <div id="seat">잔여좌석 : </div>
        <button id="btnbook" disabled="disabled" type="button">예매하기</button>

        <button id="btndraw" type="button">드로우 신청</button>
        <div id="localtime"></div>
    </div>
</form>
<!-- 탭 - 상세정보/후기 -->
<div id="detail_tab">
    <ul>
        <li>상세정보</li>
        <li><a href="#a">위치</a></li>
        <li><a href="#b">후기</a></li>
    </ul>
</div>
<div id="detail_content">
    <div id="art_img"></div>
    <div id="vid_url"></div>
        <ul>
            <li>[ 캐스트 ]</li>
        </ul>
        <p id="cast"></p>
        <ul>
            <li>[ Content ]</li>
        </ul>
        <p id="content"></p>
</div>
<div id="detail_location">
    <img src="images/icon/mapicon.png" width="60" height="50" id="mapicon">
    <h2 class="detail_title" id="a">위치</h2>
    <div id="location_box"><div id="map" style="width:100%;height:500px"></div></div>
</div>
<hr>
<div id="detail_review">
    <h2 class="detail_title" id="b">후기</h2>
    <div class="statistics">
        <div>
            <!-- 통계 -->
            <div>
                <img src="images/icon/manicon.png" width="100" height="100">
                <img src="images/icon/womanicon.png" width="100" height="100">
                <ul class="gender"></ul>
                <div id="divide"></div>
                <ul id="ulavgScore">
                    <li id="avgScore">평균별점: </li><label id="score_num"></label><label id="star">⭐</label>
                </ul>
                <ul class="generation"></ul>
            </div>
        </div>
    </div>
        <!-- 후기 ==> 후기 위치로 이동 https://webisfree.com/2021-08-19/%ED%8A%B9%EC%A0%95-%EC%97%98%EB%A6%AC%EB%A8%BC%ED%8A%B8%EB%A1%9C-%EC%8A%A4%ED%81%AC%EB%A1%A4%EC%9D%84-%EC%B2%9C%EC%B2%9C%ED%9E%88-%EC%9D%B4%EB%8F%99%EC%8B%9C%ED%82%A4%EB%8A%94-%EB%B0%A9%EB%B2%95-scrollintoview-smooth -->
        <!-- 후기 정렬 ==>평점 높은순/평점 낮은순 -->
    <div class="review_all">
        <select id="reviewOrder">
            <option>후기 보기(스포일러성 후기가 있을 수 있습니다)</option>
            <option id="desc">평점 높은순</option>
            <option id="acs">평점 낮은순</option>
        </select>
        <!-- 후기내용 -->
        <div id="review_list"></div>
    </div>
</div>

<div id="main-footer">

</div>
</body>
<footer>
    <div>ⓒ CodingDoit corp.</div>
</footer>
</html>