<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/ticket/draw.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div id="background">

        <div id="screen">S c r e e n</div>
        <button id = "insertBtn">드로우 신청하기</button>
        <div class="seat_status">
            <div id="possible"></div><p>선택가능</p>
            <div id="check"></div><p>선택</p>
            <div id="soldout"></div><p>드로우 신청완료</p>
        </div>
    </div>

    <div id="seatList"></div>
</body>
</html>