<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta name="viewport" content="user-scalable=yes, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/ticket/homepage_frame.css">
<link rel="stylesheet" type="text/css" href="/css/ticket/homepage_content.css">
<body class="main_layout">
<img src="/images/icon/logo.png" id="logo">
<div class="main_user">
    <a href="/login" id="login"><img src="/images/icon/loginicon.png">로그인</a>
    <a href="/main" id="logout"><img src="/images/icon/logouticon.png">로그아웃</a>
    <a href="/signUp" id="regist"><img src="/images/icon/signupicon.png">회원가입</a>
    <a href="/myPage" id="mypage"><img src="/images/icon/mypageicon.png">마이페이지</a>
</div>
<nav id="navigation">
    <div class="search" id="search" name="search">
        <input class="search_txt" type="search" placeholder="검색어 입력..." id="search_txt">
        <a class="search_btn" type="button" id="search_btn"><img  src="/images/icon/searchicon.png" width="35" height="35"></a>
    </div>
    <ul>
        <li class="home"><a href="/main">홈</a></li>
        <li><a href="#">시사회</a>
            <ul>
                <li><a id="cate1_current" cateid="1" time="1">현재상영작</a></li>
                <li><a id="cate1_future" cateid="1" time="2">개봉예정작</a></li>
                <li><a id="cate1_past" cateid="1" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">뮤지컬</a>
            <ul>
                <li><a id="cate2_current" cateid="2" time="1">현재상영작</a></li>
                <li><a id="cate2_future" cateid="2" time="2">개봉예정작</a></li>
                <li><a id="cate2_past" cateid="2" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">연극</a>
            <ul>
                <li><a id="cate3_current" cateid="3" time="1">현재상영작</a></li>
                <li><a id="cate3_future" cateid="3" time="2">개봉예정작</a></li>
                <li><a id="cate3_past" cateid="3" time="0">과거상영작</a></li>
            </ul>
        </li>
        <li><a href="#">콘서트</a>
            <ul>
                <li><a id="cate4_current" cateid="4" time="1">현재상영작</a></li>
                <li><a id="cate4_future" cateid="4" time="2">개봉예정작</a></li>
                <li><a id="cate4_past" cateid="4" time="0">과거상영작</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="main-header">
    <div id="left_button">&lt;</div>
    <div class="slider" data-role="slider" data-width="1380" data-height="600" style="position: relative; overflow: hidden; width: 500px; height: 500px;">
        <div class="container" style="position: absolute; overflow: hidden;">
            <div class="item" style="float: left;">
                <img src="/images/monster.jpg" class="poster">
            </div>
            <div class="item" style="float: left;">
                <img src="/images/가면산장살인사건_main_3.jpg" class="poster">
            </div>
            <div class="item" style="float: left;">
                <img src="/images/마틸다.jpg" class="poster">
            </div>
        </div>
    </div>
    <div id="right_button">&gt;</div>
</div>
<br>
<hr>
<div id="main-content">
    <div>
        <h2>장르별랭킹</h2>
        <ul>
            <li><a id="rank_cate1">시사회</a></li>
            <li><a id="rank_cate2">뮤지컬</a></li>
            <li><a id="rank_cate3">연극</a></li>
            <li><a id="rank_cate4">콘서트</a></li>
        </ul>
        <br>
    </div>
    <img class="main_rank" src="/images/icon/firsticon.jpg" width="80" height="80">
    <a class="img"  id="rank_preview0"></a>
    <img class="main_rank" src="/images/icon/secondicon.jpg" width="80" height="80">
    <a class="img"  id="rank_preview1"></a>
    <img class="main_rank" src="/images/icon/thirdicon.jpg" width="80" height="80">
    <a class="img"  id="rank_preview2"></a>
    <br>
    <div>
        <h2>현재상영작</h2>
        <ul id="current_cate">
            <li><a id="current_cate1">시사회</a></li>
            <li><a id="current_cate2">뮤지컬</a></li>
            <li><a id="current_cate3">연극</a></li>
            <li><a id="current_cate4">콘서트</a></li>
        </ul>
        <br>
    </div>
    <div id="current_cate_img">
        <a class="img"  id="current_preview0" ></a>
        <a class="img"  id="current_preview1"></a>
        <a class="img"  id="current_preview2"></a>
    </div>
    <br>
    <div>
        <h2>개봉예정작</h2>
        <ul id="future_cate">
            <li><a id="future_cate1">시사회</a></li>
            <li><a id="future_cate2">뮤지컬</a></li>
            <li><a id="future_cate3">연극</a></li>
            <li><a id="future_cate4">콘서트</a></li>
        </ul>
        <br>
    </div>
    <a class="img" id="future_preview0"></a>
    <a class="img" id="future_preview1"></a>
    <a class="img" id="future_preview2"></a>
</div>
<div id="main-footer">
    <footer>
        <div>ⓒ CodingDoit corp.
        </div>
    </footer>
</div>
</body>
</html>