<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script type="text/javascript">
        $(function() {
            var IMP = window.IMP; // 생략 가능
            IMP.init("imp70652743"); // 예: imp00000000

            var ticketid = Number(sessionStorage.getItem("ticketid"));
            var custid = sessionStorage.getItem("custid");
            //티켓정보 출력
            $.ajax({
                url: "DetailTicket",
                data: {ticketid: ticketid},
                success: function (ticket){
                    var ticket_name = ticket['ticket_name'];
                    var price = ticket['price'];

                    $.ajax({
                        url:"FindCustomer",
                        data:{custid: custid},
                        success: function(cust){
                            var email = cust['email'];
                            var name = cust['name'];
                            var phone = cust['phone'];
                            var addr = cust['addr'];

                            IMP.request_pay({ // param
                                pg: "kcp",
                                pay_method: "card",
                                merchant_uid: "ORD"+new Date().getTime(),
                                name: ticket_name,
                                amount: 100,
                                buyer_email: email,
                                buyer_name: name,
                                buyer_tel: phone,
                                buyer_addr: addr,
                                buyer_postcode: "01181",
                                //m_redirect_url: 'https://localhost:8080/payok.html'
                            }, function (res) { // callback
                                if (res.success) {
                                    console.log("결재완료");
                                    console.log("고유ID:"+res.imp_uid);
                                    console.log("상점거래 ID:"+res.merchant_uid);
                                    console.log("결재금액:"+res.paid_amount);
                                    console.log("카드 승인번호:"+res.apply_num);
                                    $("#imp_uid").val(res.imp_uid);
                                    $("#merchant_uid").val(res.merchant_uid);
                                    $("#paid_amount").val(res.paid_amount);
                                    $("#apply_num").val(res.apply_num);

                                    //$("#pay").submit();
                                    //location.href="payok.html";

                                    // 결제창으로 넘어가기
                                    $.ajax({
                                        url:"payok",
                                        data: {imp_uid:res.imp_uid,
                                            merchant_uid:res.merchant_uid,
                                            paid_amount:res.paid_amount,
                                            apply_num:res.apply_num},
                                        success:function (payre){
                                            //$(".imp-dialog customizable payment-kcp pc").css();
                                            console.log("payre:"+payre);
                                            //if(payre == "OK"){}
                                            $.ajax({
                                                url:"RegistBook",
                                                data:{seatid:sessionStorage.getItem("as")},
                                                success: function (result){
                                                    console.log("RegistBook성공")

                                                    if(result>0){
                                                        $.ajax({
                                                            url:"BookTicket",
                                                            data: {custid:custid,
                                                                ticketid: ticketid,
                                                                seatid: sessionStorage.getItem("as")},
                                                            success:function(final){
                                                                console.log("BookTicket성공");

                                                                $(document).ready(function(){
                                                                    if (final > 0) {
                                                                        // 예약완료 문자 발송 여기!
                                                                        alert("예약 성공!");
                                                                        $(location).attr('href',"/detail?ticketid"+ticketid);
                                                                    }else{
                                                                        alert("예약에 실패하였습니다. 다시 시도해주세요.");
                                                                    }
                                                                })
                                                            }
                                                        })
                                                    }
                                                }
                                            })
                                        }
                                    })
                                } else {
                                    console.log("결재실패");
                                    console.log('에러내용'+res.error_msg);
                                }
                            });
                        }
                    })
                }
            })

        });
    </script>
</head>
<body>
    <form action="/payok" method="post" id="pay">
        <input type="hidden" name="imp_uid" id="imp_uid">
        <input type="hidden" name="merchant_uid" id="merchant_uid">
        <input type="hidden" name="paid_amount" id="paid_amount">
        <input type="hidden" name="apply_num" id="apply_num">
    </form>
</body>
</html>